@import '../../shared/scss/variables';

.wrapper {
  @media (max-width: 700px) {
    max-width: 340px;
  }

  max-width: 1160px;
  margin: 0 auto;
  padding-top: 80px;

  .title {
    display: flex;
    justify-content: center;

    .blue_line {
      width: 81px;
      height: 2.5px;
      background-color: $color-primary;
      align-self: center;
    }

    h1 {
      font-family: GothamProBold;
      font-size: 36px;
      line-height: 1.22;
      padding: 0 20px;
      white-space: nowrap;
      margin-bottom: 4px;
      color: #333;

      @media only screen and (max-width: 900px) {
        font-size: 30px;
      }

      @media only screen and (max-width: 767px) {
        font-size: 20px;
      }
    }
  }

  .cards_wrapper {
    padding-top: 55px;
    padding-bottom: 30px;

    .cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @media (min-width: 768px) {
        .card {
          flex: 0 0 33.333333%;
          max-width: 33.333333%;
        }
      }
    }
  }

  .text_block {
    font-family: GothamProLight, sans-serif;
    font-size: 18px;
    max-width: 1160px;
    width: 100%;
    padding: 0 10px;

    p {
      margin-bottom: 16px;
    }
  }

}