.wrapper {
  padding: 0 10px;
  margin-bottom: 20px;

  .card {
    border: 1px solid #eee;
    padding: 15px 25px;
    background-color: white;
    height: 100%;
    min-height: 264px;

    .img_wrapper {
      padding: 15px 0;
      text-align: center;

      img {
        width: 80px;
        height: 70px;
      }
    }

    h3 {
      font-family: GothamProBold;
      font-size: 18px;
      text-align: center;
    }

    p {
      font-family: GothamProLight;
      font-size: 15px;
      text-align: center;
    }
  }
}