@import '../../../shared/scss/variables';

.wrapper {
  position: absolute;
  right: -4px;
  top: -455px;
  padding: 30px;
  background-color: rgba(0, 0, 0, .5);
  width: 360px;
  height: 400px;

  .wave_image {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 20px;
  }

  h1 {
    font-family: GothamProBold, sans-serif;
    color: white;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }

  .form_item {
    margin-bottom: 15px;
    position: relative;
    z-index: 2;

    .label {
      z-index: 1;
      color: #9a9898;
      margin-left: 4px;
      position: absolute;
      left: 15px;
      top: 8px;
      font-size: 16px;
      pointer-events: none;
      transition-duration: 0.3s;

      &_active {
        transform: translateY(-19px);
        background-color: $color-primary;
        padding: 0 4px;
        color: white;
        font-size: 15px;
        line-height: 15px;
      }
    }
  }

  .input {
    border: none;
    border-radius: 0;
    line-height: 19px !important;
    padding: 0 18px 0 18px;
    height: 40px;
    font-size: 16px;
    color: #9a9898;
  }

  .checkbox_wrapper {
    display: flex;

    .checkbox {
      position: relative;
      display: inline-block;
      width: 33px;
      height: 16px;
      background-color: white;
      border: 1px solid $color-primary;
      border-radius: 2px;
      opacity: 1;
      transition: .3s;
      margin-top: 12.5px;
      margin-right: 7px;
      transition: all .3s;
      cursor: pointer;

      &[data-checked='false'] {
        &::after {
          content: "";
          background-color: $color-primary;
          width: 8px;
          height: 8px;
          position: absolute;
          left: 3.5px;
          top: 4px;
          transition: all .3s;
          opacity: 0;
        }
      }


      &[data-checked='true'] {
        &::after {
          content: "";
          background-color: $color-primary;
          width: 8px;
          height: 8px;
          position: absolute;
          left: 3.5px;
          top: 3.5px;
          transition: all .3s;
          opacity: 1;
        }
      }
    }

    .text {
      margin-top: 10px;
      color: white;
      font-family: Inter, sans-serif;
      font-style: normal;
      font-size: 14.5px;
      line-height: 24px;
      cursor: pointer;
      user-select: none;

      .text_first_line {
        margin-right: 20px;
      }
    }

    margin-bottom: -20px;
  }

  .submit_btn {
    z-index: 2;
    position: relative;
    font-family: GothamProBold, sans-serif;
    font-size: 16px;
    height: 46px;
    padding: 0 20px;
    border: none;
    border-radius: 0;
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary;
    }

    &::before {
      background-color: #008ce4;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      transition: all 0.4s ease;
      width: 0%;
      height: 100%;
    }

    &:hover::before {
      width: 100%;
    }

    div {
      display: none;
    }
  }
}